.categories{
    margin:rem(85px) calc(#{$mobile_side_margins} - 10px) 0 calc(#{$mobile_side_margins} - 10px);
    h2{
        margin-bottom:35px;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        li{
            background-color: $gray;
            padding: .5em 1em ;
            margin: 0 em(7px) em(7px) 0;
            font-size: em(9px);
        }
        li a{
            text-decoration: none;
            color:$bright_texts_color;          
        }
    }    
    @media screen and (min-width: rem($mobile_breakpoint)){ 
        h2{
            font-size:rem(20px, 'desktop');
        }
    }
}